__pycache__/
.pytest_cache/
.vscode/

venv/
.venv/

*.pyc
*.pyo
*.pyd

.DS_Store


# Soluciones numéricas pesadas
resultados/**/*.npz
resultados/**/*.npy

# CSV generados automáticamente
resultados/**/*.csv

# Conservar tablas-resumen seleccionadas
!resultados/**/resumen_*.csv
!resultados/**/tabla_*.csv
